body {
  font-family: 'Righteous', cursive;
}
p{
  font-family: 'Roboto', sans-serif;
}

textarea:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.middle-items {
  align-items: center;
}

.back-primary {
  background: var(--primary-color);
}

.color-primary {
  color: var(--primary-color);
}

.color-white {
  color: white;
}

.is-invalid {
  font-size: 1.4rem;
  color: var(--error-color);
}

.capitalize {
  text-transform: capitalize;
}

.padding-large {
  padding: 0;

  @include respond-to (medium) {
    padding: 4rem;
  }
}
