.Footer {
  li {
    &:last-child {
      background: var(--dark-color);
      padding: 0 6rem;
      position: relative;

      a {
        color: white;
      }

      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 0 solid hsla(0, 0%, 100%, 0);
        border-right: 5rem solid rgba(224, 44, 44, 0);
        border-top: 5.3rem solid #fff;
        top: 0;
        left: 0;
      }
    }
  }

  a {
    font-size: 1.3rem;
    display: block;
    padding: 2rem 0 1.4rem;
  }
}
